#button {
  padding: 3px 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px dashed #09ff32;
}

form {
  display: grid;
  margin: 1em;
  padding: 1em;
  justify-content: center;
  align-content: center;
}

#1FormControl {
  width: 10%;
}

switch {
  width: 10%;
}

.css-14okwrb-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #09ff32;
}
